# Unreal generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Plugins/**/Binaries/
Plugins/**/Intermediate/

# IDE
.vs/
.idea/
*.sln
*.suo
*.sdf
*.VC.db
*.opensdf
*.opendb
*.xcworkspace

# Blender backups
*.blend1
*.blend2

# OS
Thumbs.db
.DS_Store
